
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* carousel */
.carousel-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.main-image-container {
    width: 80%;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    display: none;
}

.carousel-image.active {
    display: block;
}
/* button */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
/* tumbnails */
.thumbnails-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}
.thumbnail {
    width: 100%;
    height: calc(20% - 4px);
    object-fit: cover;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, border 0.3s;
}
.thumbnail.active {
    opacity: 1;
    border: 2px solid yellow;
}